.mainNavi {
    height: 9rem;
    transition: height 0.2s ease;

    &.transformScroll {
        height: 6.5rem;
        padding-top: 0.5rem;
    }
}

.brand {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: font-size 0.2s ease, ;

    i {
        font-size: 2rem;
        transition: font-size 0.2s ease;
    }
}

.mainNavi.transformScroll .brand {
    font-size: 1.75rem;
    gap: 0.3rem;

    i {
        font-size: 1.5rem;
    }
}


.top-navbardrop {
    top: 9%;
}

.mobileCol {
    padding: 0;
}

.bg-navbar {
    background-color: #111849bb;
    backdrop-filter: blur(10px);
}

.bg-warning2 {
    color: #7c2b0e;
    background-color: #ffb31e;
    border-color: #ffb31e;
    transition: all 0.3s ease-in-out;

    &:hover {
        border-color: #ffca60;
        background-color: #ffca60;
        color: #001F3F;
    }

    &:active {
        background-color: #f7af21;
        border-color: #f7af21;
    }
}

.bg-register {
    border-color: #b1a6fc;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #d8d8d87e;
        border-color: #fff;
    }

    &:active {
        background-color: #d1d1d17e;
        border-color: #d1d1d17e;
    }
}


.collapse-container {
    overflow: hidden;
    height: 0;
    transition: height 0.1s ease, padding 0.1s ease, visibility 0.1s;
    visibility: hidden;
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    z-index: 5;
}

.collapse-container.open {
    height: calc(100vh - 85px);
    visibility: visible;
    overflow-y: hidden;
}


body.overflow-hidden {
    overflow: hidden;
}

.collapse-content {
    padding: 1rem;
}


.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.brand h2 {
    margin: 0;
}

.nav-links li,
.dropdown-menu li {
    color: #333;
}

.dropdown-menu {
    padding: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-menu.open {
    max-height: 500px;
    opacity: 1;
}

@media (max-width: 992px) {
    .mobileScreen {
        display: none;
    }

    .visibleNav {
        display: block;
    }

    .mobileCol {
        flex: 0 0 auto;
        padding: 0.5rem;
        width: 100%;
    }

    .marginNav {
        margin-left: 27px;
        margin-right: 27px;
    }

    .toggle-collapse-button {
        display: none;
    }
}

@media (max-width: 600px) {
    .toggle-collapse-button {
        display: none;
    }
}