<div class="p-fluid ContainerCollapseHeight">
    <div class="grid grid-nogutter">
        <div class="col-6">
            <div class="bg-white ContainerCollapseHeight flex justify-content-center align-items-center">
                <div class="card w-6 flex flex-column gap-2">
                    <div class="flex flex-column gap-5">
                        <div class="text-600 fs-3">
                            <i class="fa-solid fa-gem fs-2"></i><span class="fs-2"> NovaCapital</span>
                        </div>
                        <h2 class="title-size text-black font-bold">
                            <span class="flex flex-column gap-1">
                                Good to
                            </span>
                            <span>
                                welcome you! 👋
                            </span>
                        </h2>
                        <span class="font-title-log text-color-secondary">
                            Log in to your account to continue
                        </span>
                    </div>
                    <form class="flex flex-column gap-5 mt-4">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-user fs-4"></i>
                            </p-inputGroupAddon>
                            <input class="fs-4" pInputText placeholder="Username" />
                        </p-inputGroup>
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-lock fs-4"></i>
                            </p-inputGroupAddon>
                            <input class="fs-4" pInputText [type]="isPasswordVisible ? 'text' : 'password'"
                                placeholder="Password" [(ngModel)]="password" />
                            <p-inputGroupAddon class="p-0" (click)="togglePasswordVisibility()">
                                <i class="pi fs-4 toucheye"
                                    [ngClass]="isPasswordVisible ? 'pi-eye' : 'pi-eye-slash'"></i>
                            </p-inputGroupAddon>
                        </p-inputGroup>
                    </form>
                    <div class="flex justify-content-end mb-4 mt-4">
                        <a routerLink="#" class="fs-4 text-a-login font-semibold">Forgot Password?</a>
                    </div>
                    <div class="flex flex-column gap-4">
                        <button
                            class="fs-4 py-2 bg-login-button text-white border-round-3xl border-none transition-linear transition-duration-200">
                            Sign In
                        </button>
                        <div class="flex justify-content-start gap-2">
                            <span class="fs-4 text-black font-semibold">
                                Don't have an account?
                            </span>
                            <span>
                                <a routerLink="/register" class="fs-4 text-login text-a-login font-semibold">Register</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-6">
            <div class="bg-login flex justify-content-center align-items-center ContainerCollapseHeight">
                <p-carousel 
                    [value]="ImagesCarousel" 
                    [numVisible]="1" 
                    [numScroll]="1" 
                    [circular]="true"
                    showNavigators="false" 
                    [autoplayInterval]="4000"
                    showIndicators="false"
                    [indicatorStyle]="{'border-radius': '10px', 'width' : '10px', 'height' : '10px'}"
                    class="flex justify-content-center align-items-center">
                    <ng-template let-images pTemplate="item">
                        <div class="flex align-items-center flex-column justify-content-center" style="gap: 20px;">
                            <img 
                                [src]="images.image" 
                                class="m-auto imgCarousel" 
                                [alt]="images.altImage"
                                [draggable]="images.draggable">
                            <div class="py-4 flex gap-3 flex-column w-8">
                                <h2 class="fs-1 text-white title-size">
                                    {{images.title}}
                                </h2>
                                <div class="flex gap-5 align-items-center">
                                    <div>
                                        <i class="pi fs-1 text-white" [ngClass]="images.icon"></i>
                                    </div>
                                    <span  class="fs-3 text-white font-subtitle">
                                        {{images.msg}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>  
        </div>
    </div>
</div>