.bg-login-button {
    cursor: pointer;
    background-color: #264653;
    &:hover {
        background-color: #172c35;
    }
    &:active {
        background-color: #213d47;
    }
} 

.text-a-login {
    cursor: pointer;
    color: #264653;
    &:hover {
        color: #355a69;
    }
    &:active {
        color: rgb(44, 78, 90);
    }
} 

.bg-login {
    background-color: #264653;
}

.text-login {
    color: #264653;
}

.ContainerCollapseHeight {
    height: calc(100vh - 80px);
}

.toucheye {
    cursor: pointer;
}

.title-size {
    font-size: 36px;
}

.font-title-log {
    font-size: 1.65rem;
}

.imgCarousel {
    width: 50rem;
    height: 55rem;
}

.font-subtitle {
    font-size: 18px;
}

.indicator {
    &:active {
        background-color: aquamarine;
    }
}

.indiActive {
    transition: all .2s linear;
    &:active {
        width: 25px;
    }
}
