.bg-login-button {
    cursor: pointer;
    background-color: #111849;
    &:hover {
        background-color: #1b1f3d;
    }
    &:active {
        background-color: #32375f;
    }
} 

.text-a-login {
    cursor: pointer;
    color: #111849;
    &:hover {
        color: #1b1f3d;
    }
    &:active {
        color: #32375f;
    }
} 

.bg-login {
    background-color: #111849;
}

.text-login {
    color: #111849;
}

.ContainerCollapseHeight {
    height: calc(100vh - 80px);
}

.toucheye {
    cursor: pointer;
}

.title-size {
    font-size: 36px;
}

.font-title-log {
    font-size: 1.65rem;
}

.imgCarousel {
    width: 50rem;
    height: 55rem;
}

.font-subtitle {
    font-size: 18px;
}

