<div class="grid grid-nogutter justify-content-center px-4 mb-4">
    <div class="col-12 xl:col-9 lg:col-12 md:col-12 sm:col-12">
      <div class="cards-container">
        <div class="card-primary border-round-3xl" *ngFor="let data of systemdata">
          <div class="card-primary-content">
            <h5 class="card-title fs-3 text-purple">{{ data.title }}</h5>
            <p class="card-description fs-4">{{ data.description }}</p>
          </div>
          <img [src]="data.img" [alt]="data.alrImg" class="card-image" />
          <button [ngClass]="data.buttonStyle" class="card-button cursor-pointer border-round-pill buttonPri p-3 fs-4 w-9">
            <span>{{ data.button }}</span>
          </button>
        </div>
        <div class="card-secondary">
          <div class="mini-card border-round-3xl" *ngFor="let datatwo of secondSystemData">
            <i [ngClass]="datatwo.icon" class="mini-card-icon"></i>
            <div class="mini-card-content">
              <p>
                <span class="mini-card-title fs-4"><span class="text-purple fs-4">{{ datatwo.title }}</span> {{ datatwo.description }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  