.bg-cards {
    background-color: #21285f;
}

.card-primary-system {
    min-height: 108.20px;
}

.text-purple {
    color: #9182f8;
}

.font-p {
    color: #D1D5DB;
    font-weight: 400;
}

.w-1 {
    width: 30%;
}

.w-2 {
    width: 70%;
}

.button-cards {
    width: 80%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: none;
}

.icon-size {
    font-size: 2.5rem;
}

.cursortype {
    cursor: pointer;
}

.h-full {
    height: 100%;
}

.grid-col {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    height: 100%;
    align-items: stretch;
}

.card-second-system {
    display: flex;
    align-items: center;
    background-color: #21285f;
    border-radius: 1rem;
    justify-content: flex-start;
    height: 100%;
    flex-grow: 1;
    min-height: 108.20px;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    color: #D1D5DB;
}

.icon-size {
    font-size: 2.5rem;
    color: white;
}

@media (max-width: 768px) {
    .card-second-system {
        padding: 1rem 0;
    }

    .card-icon {
        width: 20%;
    }

    .card-content {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .card-second-system {
        padding: 0.8rem 0;
    }

    .card-icon {
        width: 15%;
    }

    .card-content {
        width: 85%;
    }
}
