<div class="grid grid-nogutter justify-content-center align-items-center">
    <div class="col-9">
        <div class="grid grid-nogutter">
            <div class="col px-4 pt-4 mb-4" *ngFor="let data of systemdata">
                <div class="card-primary-system bg-cards border-0 h-100 border-round-3xl relative">
                    <div class="flex justify-content-center p-5 flex-column gap-2 card-body">
                        <h5 class="card-title text-center text-purple fs-3">{{data.title}}</h5>
                        <p class="card-text text-center fs-3 font-p">{{data.description}}</p>
                    </div>
                    <div class="relative border-round-bottom-3xl">
                        <img [src]="data.img" [alt]="data.alrImg" class="card-img-top border-round-bottom-3xl">
                        <button routerLink="#" [ngClass]="data.buttonStyle"
                            class="cursor-pointer border-round-pill absolute buttonPri button-cards p-3 fs-4">
                            <span>{{data.button}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col px-4 pt-4 grid-col h-full">
                <div class="card-second-system" *ngFor="let datatwo of secondSystemData">
                    <div class="card-icon">
                        <i [ngClass]="datatwo.icon" class="icon-size text-white"></i>
                    </div>
                    <div class="card-content">
                        <p class="font-p fs-4">
                            <span class="text-purple fs-3 font-semibolt">{{datatwo.title}}</span>
                            {{datatwo.description}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
