<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000" position="left" modal="false" styleClass="w-30rem"
    [showCloseIcon]="false">
    <div class="flex align-items-center text-700 justify-content-center gap-2 padding-header">
        <i class="fa-solid fa-gem fs-1"></i>
        <span class="fs-2 font-medium mb-1">NovaCapital</span>
    </div>
    <ul class="list-none p-0 m-0 overflow-hidden">
        <li *ngFor="let menu of systemMenuSidebar; let i = index">
            <ng-container *ngFor="let item of menu.user">
                <a pRipple [routerLink]="item.link"
                    class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple gap-3">
                    <i [ngClass]="[item.icon, item.color]" class="fs-4"></i>
                    <span class="font-medium fs-4">{{item.name}}</span>
                </a>
            </ng-container>
        </li>
        <!-- <li>
            <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                leaveActiveClass="slideup"
                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                <i class="pi pi-chart-line mr-2"></i>
                <span class="font-medium">Reports</span>
                <i class="pi pi-chevron-down ml-auto"></i>
            </a>
            <ul
                class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                <li>
                    <a pRipple pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown"
                        leaveToClass="hidden" leaveActiveClass="slideup"
                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                        <i class="pi pi-chart-line mr-2"></i>
                        <span class="font-medium">Revenue</span>
                        <i class="pi pi-chevron-down ml-auto"></i>
                    </a>
                    <ul
                        class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                        <li>
                            <a pRipple
                                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                <i class="pi pi-table mr-2"></i>
                                <span class="font-medium">View</span>
                            </a>
                        </li>
                        <li>
                            <a pRipple
                                class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                                <i class="pi pi-search mr-2"></i>
                                <span class="font-medium">Search</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a pRipple
                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                        <i class="pi pi-chart-line mr-2"></i>
                        <span class="font-medium">Expenses</span>
                    </a>
                </li>
            </ul>
        </li> -->
    </ul>
</p-sidebar>
<div class="prin-container" [class.sidebar-active]="visibleSidebar">
    <div class="menu-container flex p-fluid h-menu justify-content-between align-items-center align-items-center overflow-hidden sticky top-0 bg-appDark-Light border-bottom-1 text-bluegray-600">
        <div class="flex gap-4 align-items-center">
            <p-button [rounded]="true" icon="pi pi-bars" [size]="'large'" severity="secondary" [outlined]="true"
                [style]="{'border':'none','width': '3.5rem', 'height': '3.5rem'}" (click)="toggleSidebar()"></p-button>
            <div class="flex gap-4 align-items-center">
                <h2 class="font-23-18">{{ greetings | uppercase }}</h2>
                <i class="fs-1" 
                [class]="greetingsIcon" 
                [ngStyle]="{'color': colorIcon}"
                [ngClass]="[shadow]"></i>
            </div>
        </div>
        <div class="flex gap-6 align-items-center">
            <p-inputGroup>
                <input class="fs-5" type="text" pInputText placeholder="Search"/>
                <button type="button" pButton icon="pi pi-search"  class="p-button-secondary"></button>
            </p-inputGroup>
            <div class="flex align-items-center container-button gap-4">
                <p-button (click)="changeNotify()" icon="{{ notifyChecked ? 'pi pi-bell-slash fs-2' : 'pi pi-bell fs-2'}}" [size]="'large'" severity="secondary" [outlined]="true"
                  [rounded]="true"  [style]="{'border':'none','width': '3.5rem', 'height': '3.5rem'}"></p-button>
                <p-button severity="secondary" icon="{{ checked ? 'pi pi-sun fs-2' : 'pi pi-moon fs-2' }}"
                [rounded]="true"  [outlined]="true" (click)="changeTheme()" class="p-button-rounded p-button-text sun-moon-toggle"
                    aria-label="Toggle theme" [style]="{'border':'none','width': '3.5rem', 'height': '3.5rem'}">
                </p-button>
            </div>
            <div class="user-container flex align-items-center gap-3">
                <div class="photo-container">
                    <img src="assets/images/avatars/Person1.png" alt="" class="photoUser" draggable="false">
                </div>
                <h2 class="fs-4">User</h2>
                <p-button class="no-focus-border" icon="pi pi-angle-down fs-4" severity="secondary"
                    [outlined]=" 'none' "
                    [style]="{'box-shadow':'none','border':'none','background-color':'transparent','width':'2rem','height':'2rem'}"
                    (onClick)="op.toggle($event)" />
                <p-overlayPanel #op [styleClass]="'p-0'">
                    <div class="flex flex-column gap-3 w-25rem">
                        <ul class="list-none p-0 m-0 overflow-hidden">
                            <li *ngFor="let itemSec of userPanelOption; let i = index">
                                <ng-container>
                                    <a pRipple [routerLink]="itemSec.link"
                                        class="flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple gap-3">
                                        <i [ngClass]="[itemSec.icon]" class="fs-4"></i>
                                        <span class="font-medium fs-4">{{itemSec.name}}</span>
                                    </a>
                                    <p-divider *ngIf="i === userPanelOption.length - 2"/>
                                </ng-container>
                            </li>
                        </ul>
                    </div>
                </p-overlayPanel>
            </div>
        </div>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>

