.start-pri {
    height: 64px;
    display: flex;
    align-items: center;
}

.marginNav {
    margin-left: 27px;
    margin-right: 27px;
}

.bg-login-button {
    cursor: pointer;
    background-color: #21285f;

    &:hover {
        background-color: #1b1f3d;
    }

    &:active {
        background-color: #32375f;
    }
}

.text-a-login {
    cursor: pointer;
    color: #21285f;

    &:hover {
        color: #1b1f3d;
    }

    &:active {
        color: #32375f;
    }
}

.bg-login {
    background-color: #21285f;
}

.text-login {
    color: #21285f;
}

.ContainerCollapseHeight {
    height: calc(100vh - 64px);
}

.toucheye {
    cursor: pointer;
}

.title-size {
    font-size: 36px;
}

.font-title-log {
    font-size: 1.65rem;
}

.imgCarousel {
    width: 50rem;
    height: 55rem;
}

.font-subtitle {
    font-size: 18px;
}

.hidden-title {
    display: none;
    margin: 0;
}

.hidden-container {
    display: none !important;
}

.no-margin {
    margin-bottom: 0 !important;
}

.linku {
    font-size: 14px;
}

.indiActive {
    transition: all .2s linear;

    &:active {
        width: 25px;
    }
}

::ng-deep .p-stepper .p-stepper-panels {
    padding: 0;
}

::ng-deep .p-stepper .p-stepper-header {
    padding: 0;
}

::ng-deep .p-calendar input:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

::ng-deep .p-calendar .p-inputtext {
    border-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

::ng-deep .p-datepicker {
    overflow: visible !important;
}

::ng-deep .p-input-icon-right>i {
    top: 45%;
}

::ng-deep .p-component {
    font-size: 1.25rem;
}

::ng-deep .p-datepicker table {
    font-size: 1.25rem;
}

.stepper-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.steps {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 335px;
    height: 100%;
}

.step {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateX(100%);
}

.step.active {
    left: 0;
    opacity: 1;
    transform: translateX(0);
}

.font-finish {
    font-size: 36px;
}

.step.center-content {
    justify-content: center;
    gap: 3rem;
}

.navigation-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.nav-button {
    max-width: 30%;
    width: 100%;
    height: 10px;
    background: #263ad3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.nav-button:disabled {
    background: #ccc;
    cursor: default;
}

.pyy {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.w-full {
    width: 100%;
}

.fs-4 {
    font-size: 1.25rem;
}


::ng-deep .p-inputMask .p-inputtext {
    width: 100%;
}

.buttonContainer {
    min-height: 10rem;
    height: 100%;
}