.h-90 {
    height: 9rem;
}

.bg-footer{
  background-color: #111849;
}
  
 li {
    list-style: none;
    margin: 0;
 } 

 ul {
    margin: 0;
 }

 .font-d {
   font-size: 13px;
 }

 .gap-icon {
   gap: 3rem;
 }

 