*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 62.5%; 
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; 
  padding: 0; 
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0; 
  padding: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}
