 <!-- <header class="sticky-top">
    <app-navbar></app-navbar>
</header>
<footer>
    <app-footer></app-footer>
</footer>
 -->
 <!-- <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000" position="left" modal="false">
    <h3>Menú</h3>
    <p>Opciones del menú...</p>
</p-sidebar>

<button pButton type="button" label="Abrir Sidebar" (click)="toggleSidebar()"></button>

<div class="main-content text-white" [class.sidebar-active]="visibleSidebar">
    <h1>Bienvenido a la página principal</h1>
    <p>Este es el contenido principal de la página que se desplazará cuando se despliegue el Sidebar.</p>
</div> -->
